


.wrapper{
    max-width: 1250px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;


}
.page-about-container{
    background-color: rgba(25, 233, 233, 0.705);
    display: inline-block;
}
.page-about-container .aboutus{
    text-align:left;
    align-items: center;
}

.about-img img{
    width: 230px;
    float: left;
}
.aboutus p{
    line-height: 20px;
   text-align: justify;

    
}